@model  LetsGo.Models.Trip
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LetsGoLayout.cshtml";
}




<div class="container">
    <div class="trip-insight">
        <div class="insight-list-wrap row">
            <div>
                <div class="insight-list">
                    <span class="icon-mountain"></span>
                    <div class="txt">
                        <p>Max Height</p>
                        <h3>5,416 m</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="insight-list">
                    <span class="icon-calendar"></span>
                    <div class="txt">
                        <p>Trip Days</p>
                        <h3>@Model.Duration</h3>
                    </div>
                </div>
            </div>
            <div>
               
            </div>
            <div>
                <div class="insight-list">
                    <span class="icon-easy"></span>
                    <div class="txt">
                        <p>Difficulty</p>
                        <h3>Medium</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-price">
            <div>Starting From</div>
            <div class="price">Rs @Model.Price</div>
            <button class="btn btn-primary btn-lg hvr-sweep-to-right">
                <a href="@Url.Action("CheckOut")" style="text-decoration:none; color:white">Book Now</a>
            </button>
        </div>
        <ul class="social-icon">
            <li><span class="icon-facebook"></span> Share</li>
            <li><span class="icon-twitter"></span> Tweet</li>
            <li><span class="icon-google"></span> Google +1</li>
            <li><span class="icon-pinterest"></span> Pin it</li>
        </ul>
    </div>
</div>

<div class="trip-detail">
    <div class="container">
        <div class="tab-wrap">

            <ul id="trip-tab" class="nav nav-tabs affix-top" data-spy="affix" data-offset-top="1290">
                <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                <li class=""><a href="#itenary" data-toggle="tab">Itenary</a></li>
                <li class=""><a href="#dateprice" data-toggle="tab">Date &amp; Price</a></li>
                <li class=""><a href="#reveiws" data-toggle="tab">Reviews</a></li>
            </ul>

            <div class="tab-content paper-effect">

                <div class="tab-pane active" id="overview">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>@Model.TripName</h3>
                            <p>@Model.Description</p>
                            <blockquote class="with-icon">
                               Enjoy this trip with Friends&Family to make memories.  
                                <footer>Lets Go Pakistan </footer>
                            </blockquote>
                        </div>

                        <div class="col-sm-6">
                            <div class="border-box">
                                <br>
                                <div class="box-title">Trip Overview</div>
                                <ul class="trip-overview">
                                    <li>
                                        <span class="icon-road-sign"></span>
                                        <div class="detail">
                                            <div class="title">Trip profile</div>
                                            <div class="desc">@Model.Duration days Trip point-to-point </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="icon-dollar"></span>
                                        <div class="detail">
                                            <div class="title">Cost</div>
                                            <div class="desc">Rs @Model.Price</div>
                                        </div>
                                    </li>
                                   
                                
                                    <li>
                                        <span class="icon-calendar"></span>
                                        <div class="detail">
                                            <div class="title">Trek Days</div>
                                            <div class="desc">@Model.TripDate</div>
                                        </div>
                                    </li>
                                  
                                   
                                    <li>
                                        <span class="icon-bus"></span>
                                        <div class="detail">
                                            <div class="title">Transportation</div>
                                            <div class="desc">Bus, Jeep</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="itenary">
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <br>

                            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading1One">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1One" aria-expanded="true" aria-controls="collapse1One">
                                                Included
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1One" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1One">
                                        <div class="panel-body">
                                            <ul class="clean-ul">
                                                <li><span class="icon-tick"></span><div class="desc">All meals except main meals in Kathmandu</div></li>
                                                <li><span class="icon-tick"></span><div class="desc">All ground transport, airport transfers, and  flights</div></li>
                                                <li><span class="icon-tick"></span><div class="desc">All accommodations</div></li>
                                                <li><span class="icon-tick"></span><div class="desc">Sightseeing in Kathmandu</div></li>
                                                <li><span class="icon-tick"></span><div class="desc">All applicable permits and entrance fees</div></li>
                                                <li><span class="icon-tick"></span><div class="desc">Full trek staff arrangements a Trek Leader  and guides</div></li>
                                                <li><span class="icon-tick"></span><div class="desc">Porters or pack animals to carry equipments</div></li>
                                                <li><span class="icon-tick"></span><div class="desc">Use of Trek Pack</div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading1Two">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1Two" aria-expanded="false" aria-controls="collapse1Two">
                                                Not Included
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1Two">
                                        <div class="panel-body">
                                            <ul class="clean-ul">
                                                <li><span class="icon-cross"></span><div class="desc">Alcohol or Beverage</div></li>
                                                <li><span class="icon-cross"></span><div class="desc">Use of Trek Pack</div></li>
                                                <li><span class="icon-cross"></span><div class="desc">Group medical kit</div></li>
                                                <li><span class="icon-cross"></span><div class="desc">All major group equipments, etc.</div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="dateprice">
                    <div class="table-responsive-wrap">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Trip Dates</th>
                                    <th>Availability</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.StartDate  to @Model.EndDate </td>
                                    <td>Yes</td>
                                    <td><b>Rs @Model.Price</b></td>
                                    <td><a href="@Url.Action("CheckOut","Trips")" class="btn btn-primary"> Book Now</a></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="reveiws">
                    <div class="review-comment">
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="media-list review-comment">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#"><img src="../../Images/img/team/1-sm.jpg" class="media-object" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Kim L. Burney</h4>
                                            <div class="rating">
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star-empty"></span>
                                            </div>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#"><img src="../../Images/img/team/2-sm.jpg" class="media-object" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Shing Ch'in</h4>
                                            <div class="rating">
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star-empty"></span>
                                            </div>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>


                    </div>
                </div>

            </div>
        </div>


        <br>
        <br>


        <div class="row">
            <div class="gallery" id="trip-gallery-1">
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/1.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_1.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/2.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_2.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/3.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_3.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/4.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_4.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/5.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_5.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/6.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_6.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/1.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_1.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../../Images/img/trip_detail/2.jpg" class="gallery-item" data-lightbox="trip-detail-gallery" data-title="Lorem ipsum dolor.">
                        <img src="../../Images/img/trip_detail/thumb_2.jpg" alt="..." class="img-responsive">
                        <div class="hover-overlay">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>

    </div>

</div>


<div class="banner white">
    <div class="container">
        <div class="section-title center">
            <h3>Similar Trips</h3>
        </div>
        <div class="row item">

            <div class="col-sm-6 col-md-4">
                <div class="item-grid">
                    <div class="item-img" style="background-image: url('../../Images/img/trip_detail/thumb_1.jpg');">
                        <div class="item-overlay">
                            <a href="#"><span class="icon-binocular"></span></a>
                        </div>
                    </div>
                    <div class="item-desc">
                        <div class="item-info">
                            <span class="icon-hard"></span>
                            <h4 class="title"><a href="#">Routeburn Track</a></h4>
                        </div>

                        <div class="sub-title">
                            <span class="location">New Zealand</span>
                            <span class="grade">Difficult</span>
                        </div>

                        <div class="item-detail">
                            <div class="left">
                                <div class="day"><span class="icon-sun"></span>3 Days</div>
                                <div class="night"><span class="icon-moon"></span>2 Nights</div>
                            </div>
                            <div class="right">
                                <div class="price">USD 121</div>
                                <a href="@Url.Action("TripDetail")" class="btn btn-primary hvr-sweep-to-right">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="item-grid">
                    <div class="item-img" style="background-image: url('../../Images/img/trip_detail/thumb_2.jpg');">
                        <div class="item-overlay">
                            <a href="#"><span class="icon-binocular"></span></a>
                        </div>
                    </div>
                    <div class="item-desc">
                        <div class="item-info">
                            <span class="icon-hard"></span>
                            <h4 class="title"><a href="#">Fitz Roy Trek</a></h4>
                        </div>

                        <div class="sub-title">
                            <span class="location">Patagonia, Argentina</span>
                            <span class="grade">Difficult</span>
                        </div>

                        <div class="item-detail">
                            <div class="left">
                                <div class="day"><span class="icon-sun"></span>3 Days</div>
                                <div class="night"><span class="icon-moon"></span>2 Nights</div>
                            </div>
                            <div class="right">
                                <div class="price">USD 121</div>
                                <a href="#" class="btn btn-primary hvr-sweep-to-right">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="item-grid">
                    <div class="item-img" style="background-image: url('../../Images/img/trip_detail/thumb_3.jpg');">
                        <div class="item-overlay">
                            <a href="#"><span class="icon-binocular"></span></a>
                        </div>
                    </div>
                    <div class="item-desc">
                        <div class="item-info">
                            <span class="icon-hard"></span>
                            <h4 class="title"><a href="#">Annapurna Circuit</a></h4>
                        </div>

                        <div class="sub-title">
                            <span class="location">Nepal</span>
                            <span class="grade">Difficult</span>
                        </div>

                        <div class="item-detail">
                            <div class="left">
                                <div class="day"><span class="icon-sun"></span>3 Days</div>
                                <div class="night"><span class="icon-moon"></span>2 Nights</div>
                            </div>
                            <div class="right">
                                <div class="price">USD 121</div>
                                <a href="#" class="btn btn-primary hvr-sweep-to-right">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-book-now" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Book Now</h4>
            </div>
            <div class="modal-body">

                <div class="preview-wrap">
                    <div class="preview-img" style="background-image: url('../../Images/img/home_img/mountain.jpg')"></div>

                    <div class="form-wrap">
                        <form id="ajax-contact" method="post" action="http://moldthemes.com/mold_discover/book_trip.php">
                            <div id="form-messages" class="alert" role="alert" style="display: none;"></div>
                            <input type="hidden" name="trip" id="trip" value="annapurna">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name" value="" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" value="" required>
                            </div>

                            <div class="form-group">
                                <label>Phone</label>
                                <input type="number" name="phone" id="phone" class="form-control" placeholder="Phone Number" value="" required>
                            </div>

                            <div class="form-group">
                                <label>Duration</label>
                                <div class="row">
                                    <div class="col-sm-6"><input type="text" name="from_date" id="from_date" class="form-control datepicker" placeholder="From" value="" required></div>
                                    <div class="col-sm-6"><input type="text" name="to_date" id="to_date" class="form-control datepicker" placeholder="To" value="" required></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Number of Person</label>
                                <input type="text" name="number_person" id="number_person" class="form-control" value="2" required>
                            </div>
                            <button class="btn btn-primary hvr-sweep-to-right">BooK Now</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






